.modal{
    position: fixed;
    top: 0;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    animation-name: animatetop;
    animation-duration: 0.4s;
    display:none;
}
.modal.active{
    display:block;
}
.bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
    z-index: -1;
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }